{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<link rel="stylesheet" href={% static 'css/main.css' %} />
  </head>


  <body>

    <!-- Header -->
  	<header id="header" class="alt">
  		<div class="logo"><a href="{% url 'list' %}">The eMall <span>by Coded</span></a></div>
      <a href="{% url 'create' %}">Add Store</a>
  		<a href="#menu">Menu</a>
  	</header>

  	<!-- Nav -->
  	<nav id="menu">
  		<ul class="links">
  			<li><a href="index.html">Cart</a></li>
  			<li><a href="generic.html">Account</a></li>
  			<li><a href="elements.html">Logout</a></li>
  		</ul>
  	</nav>

    <!-- Banner -->
  	<section class="banner full">
  		<article>
  			<img src="{% static 'images/sale.jpg' %}" alt="" />
  			<div class="inner">
  				<header>
  					<p>Shop through our summer <b>sale</b></p>
  					<h2>Keep #classy</h2>
  				</header>
  			</div>
  		</article>
  		<article>
  			<img src="{% static 'images/selfie.png' %}" alt="" />
  			<div class="inner">
  				<header>
  					<p>Skincare, fashion, and <b>more</b></p>
  					<h2>Keep #fresh</h2>
  				</header>
  			</div>
  		</article>
  		<article>
  			<img src="{% static 'images/laptop.png' %}" alt="" />
  			<div class="inner">
  				<header>
  					<p>Free shipping and free returns</p>
  					<h2>Keep #calm</h2>
  				</header>
  			</div>
  		</article>
  	</section>

    {% block content %}
    {% endblock content %}

    <!-- Footer -->
	  <footer id="footer">
      <div class="container">
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  			  <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  			  <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
  	   </div>
  	   <div class="copyright">
  			&copy; The eMall by Coded. All rights reserved.
  	   </div>
  	</footer>


    <script src="{% static 'js/jquery.min.js' %}"></script>
  	<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
  	<script src="{% static 'js/skel.min.js' %}"></script>
  	<script src="{% static 'js/util.js' %}"></script>
  	<script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
